= render 'search_tip'
.search_wrapper.advanced_search_wrapper
  .navigation_panel
    .genders.navigation_block
      .header
        = t("genders")
      .content
        - @gender_countings.each do |counting|
          .link
            = link_to "#{counting.gender_name}(#{counting.value})", "#g=#{counting.gender_id}", :id => "gender_id_#{counting.gender_id}"
    .categories.navigation_block
      .header
        = t("categories")
      .content
        - @category_countings.each do |category_id, count_group|
          .link
            = link_to "#{count_group.first[:category_name]}(#{count_group.sum(&:value)})", "#cat=#{category_id}", :id => "category_id_#{category_id}"
    .brands.navigation_block
      .header
        = t("brands")
      .content
        - @brand_countings.each do |counting|
          .link
            = link_to "#{counting.brand_name}(#{counting.value})", "#b=#{counting.brand_id}", :id => "brand_id_#{counting.brand_id}"
    .price_filter_container.navigation_block
      #max_price.invisible= (1000*@exchange_rate).to_i
      #currency.invisible= @currency
      .header
        = t("prices")
      .content
        %span#price_range_label
          = "0 #@currency - #{1000*@exchange_rate.to_i} #@currency"
        .price_filter
          #price_slider
          = link_to "eggs", "", :id => "price_filter", :class => "invisible"
    .sub_categories.navigation_block
      .header
        = t("sub_categories")
      .content
    .colors.navigation_block
      .header
        = t("colors")
      .content
    .sizes.navigation_block
      .header
        = t("sizes")
      .content
    .facet_list.navigation_block
      .header
      .content
  .item_models
    = render @item_models
    -#= paginate(@item_models, :window => 6)
