Ув.,
= @user.full_name
%p
  Ваш заказ
  %b
    = "#" + "%05d" % @order.id
  был успешно оформлен.
  %br
  Детали Вашего заказа указаны ниже:
%p
  Вы заказали следующее:
  - @order.order_lines.each do |order_line|
    %p
      = order_line.product.item_model.brand.name
      = order_line.product.item_model.product_name
      Количество:
      = order_line.quantity
      Цена:
      = order_line.price
      = order_line.currency
      Сумма:
      = order_line.total
      = order_line.currency
%p
  Адрес доставки:
  = [@order.city, @order.address].join(', ')
%p
  Всего к оплате:
  = @order.total
  = @order.order_lines.first.currency
%p
  Вы указали контактный номер телефона:
  = @order.user.phone_number
%p
  %br
  Администрация otpravka.com.ua
