= javascript_include_tag "http://translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=ru"

%span.path_link
  %span.short_link
    = t('chosen_brand')
  %span.short_link
    = link_to product.brand.name, "/#cat/#{product.brand.id}///"
  %span.short_link
    = link_to product.category.name, "/#cat/#{product.brand.id}/#{product.category.id}//"
  %span.short_link
    = link_to product.sub_category.name, "/#cat/#{product.brand.id}/#{product.category.id}/#{product.sub_category.id}/"
  %span.short_link
    = link_to product.gender.name, "/#cat/#{product.brand.id}/#{product.category.id}/#{product.sub_category.id}/#{product.gender.id}"
  %span.short_link.no_arrows
    = product.product_name
.separator_content
.brand_description_wrapper
  .block
    .title_product
      %a.title_product-a.ajaxified_disabled_link
        = product.brand.name
    .product_image.detailed_product_image#clock_images
      - if @style.try(:image_attachments).blank?
        = image_tag ImageAttachment.new.image.url(:thumb), :class => 'missing'
      - else
        %a{:href => @style.image_attachments[0].image.url(:original)}
          = image_tag @style.image_attachments[0].image.url(:original), :alt => product.product_name
        #other_images
          - @style.image_attachments.each_with_index do |image_attachment, index|
            - next if index == 0
            %a.previews{:href => image_attachment.image.url(:original)}
              - if index < 6
                = image_tag image_attachment.image.url(:thumb), :alt => product.product_name
    .left
      .logo
        = image_tag product.brand.logo_url
      .product_description
        = t('product_description.name')
      .product_description1
        = product.product_name.truncate(25)
      .product_description
        = t('product_description.category')
      .product_description1
        = product.category.name
      .product_description
        = t('product_description.sub_category')
      .product_description1
        = product.sub_category.name
      .product_description
        = t('product_description.color')
      .product_description1
        = @style.color
      .product_description
        = t('product_description.gender')
      .product_description1
        = product.gender.name
      - if @style.is_shoes?
        .product_description
          = t('product_description.width')
        .product_description1
          = @style.stocks[0].width
      .product_description
        SKU #:
      .product_description1
        = product.external_product_id
      - if @product.video_url
        .product_description
          = t('product_description.video')
        .product_description1
          = link_to t('product_description.show_video'), '#', :id => 'video_link'
      - if product.product.styles.size > 1
        .product_description
          = t('product_description.other_colors')
        .product_description1
          - product.product.styles.each do |style|
            - next if style == @style
            %a{:href => "/#single/#{style.product.id}/#{style.id}"}
              = image_tag style.image_attachments.try(:[], 0).try(:image).try(:url, :thumb), :alt => product.product_name, :style => 'width: 30px;'
    .delimiter
    #flv_player
  .block_description
    .right
      .product_description
        = t('product_description.size')
      .product_description1#stock_select
        = select_tag :stock_id, options_for_select(@style.stocks.map{|s| [s.size, s.id]})
        = link_to t("size_grid"), '/images/size_grid.png', :class => 'size_grid'
      - if product.product
        %a.button
          .button_left{:style => 'margin-left: 35px;'}
          .button_mid.add_to_cart_link
            = link_to t('add_to_cart'), add_path(product.product, :style => @style, :stock_id => @style.stocks.first)
          .button_right
      - else
        .navigation_buttons
          .button_idle
            .button_left_idle
            .button_mid_idle
              = t('add_to_cart')
            .button_right_idle
        %a.button{:href => "#"}
          .button_left
          .button_mid
            = t('email_when_available')
          .button_right

      .delimiter
      .item_model_description.goog-trans-section
        = @product.description.html_safe
        .goog-trans-control
      #google_sectional_element
.grey_area{:style => 'margin-top: 14px;'}
  - if product.product
    .presence_color
    .presence_note
      = t('product_exists')
    - if @style.percent_off > 0
      .price
        = t('product_description.original_price')
      %div
        %a.sum-a{:style => 'font-size: 13px;'}
          = number_to_currency(@style.original_price_extra(@exchange_rate, @markup), :unit => '')
      .price
        = t('currency')
      .price
        = t('product_description.price_off')
      %div
        %a.sum-a
          = "#{@style.percent_off}%"
      .price
      .price
        = t('product_description.discount_price')
      %div
        %a.sum-a
          = number_to_currency(@style.discount_price_extra(@exchange_rate, @markup), :unit => '')
      .price
        = t('currency')
    - else
      .price
        = t('product_description.original_price')
      %div
        %a.sum-a
          = number_to_currency(@style.discount_price_extra(@exchange_rate, @markup), :unit => '')
      .price
        = @currency
  - else
    .presence_color_no
    .presence_note_no
      = t('product_not_exists')

#comments
  .tips
    .tips_text
      = t('comments.header_tip')
  .filter_tips
    %a.arrow_down{:href => "#"}
    .filter_tips_text
      %a#comments_toggle{:href => "#"} 
        = t('comments.tip_total') 
        = "( #{product.comments.size} )" 
  .separator_content
  #comment_wrapper
    #comment_loader
    = render :partial => 'comment', :collection => @product.comments
    = form_tag new_comment_path, :remote => true, :id => 'new_comment_form' do
      = hidden_field_tag :item_model_id, product.id
      #comment_text_area
        .text_area_bg
          .text_area_left_bg
          .comment_text_area_style
            = text_area_tag :comment_body
          .text_area_right_bg
      .footer_button_send
        %a.submit_comment.button{:href => "#"}
          .button_left
          .button_mid
            = t('submit')
          .button_right
.delimiter
:javascript
  jwplayer("flv_player").setup({
    flashplayer: "/player.swf",
    file: "#{@product.video_url}",
    height: 270,
    width: 420
  });

  function googleSectionalElementInit() {
      new google.translate.SectionalElement({
          sectionalNodeClassName: 'goog-trans-section',
          controlNodeClassName: 'goog-trans-control',
          background: '#f4fa58'
      }, 'google_sectional_element');
  }