.delimiter
.categories_wrapper
  .categories_panel
    - categories.each do |category|
      %ul
        %li.root_li
          = link_to "#{category.name}", "/#cat//#{category.id}//"
        %li
          %ul
            - category.sub_categories.each do |sub_category|
              %li
                = link_to "#{sub_category.name}", "/#cat//#{category.id}/#{sub_category.id}/"
  .banners
    #slides.index_page
      .slides_container
        - banners.each do |banner|
          %div
            %a{:href => banner.url}
              = image_tag banner.image_attachments[0].image.url(:original)
