- cache do
  .delimiter
  .categories_wrapper
    .banners
      #slides.index_page
        .slides_container
          - banners.each do |banner|
            %div
              %a{:href => banner.url}
                = image_tag banner.image_attachments[0].image_url
    .categories_panel
      - blocks_showed = 0
      - %w(1 5 6 3 2 4).each_with_index do |top_level_category_id, index|
        - next if @categories[index].blank?
        - categories = @categories[top_level_category_id.to_i].sort_by{ |category| category.name }
        - if blocks_showed % 3 == 0
          .delimiter
        .category_block
          .category_header
            .category_name
              = link_to t(categories.first.top_category_name), category_path(top_level_category_id)
            .category_count
          .category_content
            - categories.each do |category|
              %div
                .sub_category_name
                  = link_to category.name, "/#cat//#{category.id}//"
                .sub_category_count
                  = "(#{@countings[category.id].sum(&:value)})"
              .delimiter
        - blocks_showed += 1