- product = item_model
.block.advanced_search
  .title_product
    %a.title_product-a{:href => item_model_url(product, :style => product.product.styles.first), :class => 'single_product_ajaxified_link'}
      = product.product_name.html_safe
  .product_image
    %a{:href => item_model_url(product, :style => product.product.styles.first), :class => 'single_product_ajaxified_link'}
      - if product.try(:product).try(:styles).try(:first).try(:not_zoomed_image_attachments).blank?
        = image_tag 'thumb/missing.png', :class => 'missing'
      - else
        = image_tag product.product.styles.first.not_zoomed_image_attachments[0].image_url, :alt => product.product_name, :class => 'img_file'
    %a{:href => item_model_url(product, :style => product.product.styles.first), :class => 'single_product_ajaxified_link more_link'}
      = "Подробнее"
  .product_description
    = t('product_description.brand')
  .product_description1{:style => 'font-weight: bold'}
    = product.brand.name.html_safe
  .product_description
    = t('product_description.category')
  .product_description1
    = product.category.name
  .product_description
    = t('product_description.sub_category')
  .product_description1
    = product.sub_category.try(:name)
  .product_description
    = t('product_description.gender')
  .product_description1
    = product.gender.name
  .grey_area
    - if product.product
      .presence_color
      .price
        = t('product_description.price')
      %div
        %a.sum-a{:href => "#"}
          = number_to_currency(product.product.styles.first.discount_price_extra(@exchange_rate, @markup), :unit => '')
      .price
        = @currency
    - else
      .presence_color_no
      .presence_note_no
        = t('product_not_exists')
    .product_details_link
      = link_to t('more'), item_model_path(product, :style => product.product.styles.first), :class => 'more single_product_ajaxified_link'
      .image_arrow1
- if item_model_counter % 2 == 1
  .delimiter