- product = item_model
- style = item_model.product.styles.sort_by(&:discount_price).first
.block.advanced_search
  .title_product
    %a.title_product-a{:href => "/#single/#{product.id}/#{style.id}", :class => 'single_product_ajaxified_link'}
      = product.product_name.truncate(55).html_safe
  .product_image
    %a{:href => "/#single/#{product.id}/#{style.id}", :class => 'single_product_ajaxified_link'}
      - if product.try(:product).try(:styles).try(:first).try(:not_zoomed_image_attachments).blank?
        = image_tag 'thumb/missing.png', :class => 'missing'
      - else
        = image_tag style.primary_image.image_url, :alt => product.product_name, :class => 'img_file'
    %a{:href => "/#single/#{product.id}/#{style.id}", :class => 'single_product_ajaxified_link more_link'}
      = "Подробнее"
  .product_description_wrapper
    .product_description
      = t('product_description.brand')
    .product_description1{:style => 'font-weight: bold'}
      = product.brand.name.html_safe
    .delimiter
    .product_description
      = t('product_description.category')
    .product_description1
      = product.category.name
    .delimiter
    - if product.sub_category.try(:name)
      .product_description
        = t('product_description.sub_category')
      .product_description1
        = product.sub_category.name
      .delimiter
    .product_description
      = t('product_description.gender')
    .product_description1
      = product.gender.name
    .delimiter
  .delimiter
  .grey_area
    - if product.product && !style.hidden?
      .presence_color
      .price
        = t('product_description.price')
      %div
        %a.sum-a{:href => "#"}
          = number_to_currency(style.discount_price_extra(@exchange_rate, @markup), :unit => '')
      .price
        = @currency
    - else
      .presence_color_no
      .presence_note_no
        = t('product_not_exists')
    .product_details_link
      = link_to t('more'), "/#single/#{product.id}/#{style.id}", :class => 'more single_product_ajaxified_link'
      .image_arrow1
- if item_model_counter % 2 == 1
  .delimiter