.block
  .title_product
    %a.title_product-a{:href => item_model_url(product, :style => product.product.styles.first), :class => 'single_product_ajaxified_link'}
      = product.product_name
  .product_image
    %a{:href => item_model_url(product, :style => product.product.styles.first), :class => 'single_product_ajaxified_link'}
      - if product.try(:product).try(:styles).try(:first).try(:image_attachments).blank?
        = image_tag ImageAttachment.new.image.url(:thumb), :class => 'missing'
      - else
        = image_tag product.product.styles.first.image_attachments[0].image.url(:thumb), :alt => product.product_name
    %a{:href => item_model_url(product, :style => product.product.styles.first), :class => 'single_product_ajaxified_link more_link'}
      = "Подробнее"
  .product_description
    = t('product_description.brand')
  .product_description1{:style => 'font-weight: bold;'}
    = product.brand.name
  .product_description
    = t('product_description.category')
  .product_description1
    = product.category.name
  .product_description
    = t('product_description.sub_category')
  .product_description1
    = product.sub_category.name
  .product_description
    = t('product_description.gender')
  .product_description1
    = product.gender.name
  .grey_area
    - if product.product
      .presence_color
      .presence_note
        = t('product_exists')
      .price
        = t('product_description.price')
      %div
        %a.sum-a{:href => "#"}
          = number_to_currency(product.product.styles.first.discount_price_extra, :unit => '')
      .price
        = t('currency')
    - else
      .presence_color_no
      .presence_note_no
        = t('product_not_exists')
    .product_details_link
      = link_to t('more'), item_model_path(product, :style => product.product.styles.first), :class => 'more single_product_ajaxified_link'
      .image_arrow1
- if product_counter % 2 == 0
  .delimeter
