.block
  .title_product
    %a.title_product-a{:href => item_model_url(product), :class => 'single_product_ajaxified_link'}
      = product.brand.name
  .product_image
    %a{:href => item_model_url(product), :class => 'single_product_ajaxified_link'}
      - if product.image_attachments.empty?
        = image_tag ImageAttachment.new.image.url(:thumb), :class => 'missing'
      - else
        = image_tag product.image_attachments[0].image.url(:thumb), :alt => product.id

  .product_description
    = t('product_description.category')
  .product_description1
    = product.category.name
  .product_description
    = t('product_description.sub_category')
  .product_description1
    = product.sub_category.name
  .product_description
    = t('product_description.color')
  .product_description1
    = product.color.name
  .grey_area
    - if product.product
      .presence_color
      .presence_note
        = t('product_exists')
      .price
        = t('product_description.price')
      %div
        %a.sum-a{:href => "#"}
          = number_to_currency(product.product.original_price, :unit => '')
      .price
        = t('currency')
    - else
      .presence_color_no
      .presence_note_no
        = t('product_not_exists')
    .product_details_link
      = link_to t('more'), item_model_path(product), :class => 'more single_product_ajaxified_link'
      .image_arrow1
  - if product.product
    %a.button{:href => "#"}
      .button_left
      .button_mid.add_to_cart_link
        = link_to t('add_to_cart'), add_path(product.product)
      .button_right
  - else
    .navigation_buttons
      .button_idle
        .button_left_idle
        .button_mid_idle
          = t('add_to_cart')
        .button_right_idle
    %a.button
      .button_left
      .button_mid
        = t('email_when_available')
      .button_right
- if product_counter % 2 == 0
  .delimeter
