- left_banner = @banners.where(:side => "left").first
- right_banner = @banners.where(:side => "right").first
.brows_category
  .brows_lable
    .bl_style Обзор по категориям
    .bl_image
  - %w(1 2 6 3 5 4).each do |top_level_category_id|
    - next if @categories[top_level_category_id.to_i].blank?
    - categories = @categories[top_level_category_id.to_i].sort_by{ |category| category.name }
    %ul.main_category
      %li.mc_lable
        = link_to t(categories.first.top_category_name), category_url("#{top_level_category_id}-#{categories.first.top_category_name}")
      - categories.each_with_index do |category, index|
        %li.mcl_link{ class: index > 4 ? 'hidden_link' : '' }
          = link_to category.name, category_sub_category_url("#{top_level_category_id}-#{categories.first.top_category_name}", category)
      - if categories.size > 5
        %li.mcl_link_sm
          %a.mcl_show_more{:href => "#"} Показать все

.advertisement_block
  .ab_main_banner
    #slides.index_page
      .slides_container
        - @banners.where(:side => nil).each do |banner|
          %div
            %a{:href => banner.url}
              = image_tag banner.image_url
  .adsb_content
    .adsbc_left
      = image_tag left_banner.image_url
    .adsbc_middle
    .adsbc_right
      = image_tag right_banner.image_url