= javascript_include_tag "http://translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=ru"
- title_args = { :product_name => @product.product_name, :category => @product.try(:category).try(:name), :brand => @product.try(:brand).try(:name) }
- meta_title = t('meta.single_product_title', title_args)
- meta_title = t('meta.single_product_title_no_country', title_args) if meta_title.size >= 80
- meta_title = t('meta.single_product_title_no_price', title_args) if meta_title.size >= 80
- content_for :meta_title, meta_title
- desc_args = { :product_name => @product.product_name, :category => @product.try(:category).try(:name).try(:mb_chars).try(:downcase), :brand => @product.try(:brand).try(:name) }
- meta_desc = t('meta.single_product_description', desc_args)
- meta_desc = t('meta.single_product_description_no_country', desc_args) if meta_desc.size >= 120
- meta_desc = t('meta.single_product_description_no_price', desc_args) if meta_desc.size >= 120
- meta_desc = t('meta.single_product_description_no_cat', desc_args) if meta_desc.size >= 120
- meta_desc = t('meta.single_product_description', desc_args) if meta_desc.size >= 120
- content_for :meta_description, meta_desc
-#- content_for :seo_header, t('meta.single_product_seo_header', :product_name => @product.product_name, :category => @product.try(:category).try(:name), :brand => @product.try(:brand).try(:name))
-#- content_for(:canonical_url) { single_model_url(@product, @product.product.styles.first) }

%span.path_link{ :itemprop => 'breadcrumb'}
  %span.short_link
    = t('chosen_brand')
  %span.short_link
    = link_to t(@product.category.top_category_name), category_url(@product.category)
  %span.short_link
    = link_to @product.brand.name.html_safe, brand_path(@product.brand)
  -#%span.short_link
  -#  = link_to @product.category.name, category_sub_category_with_brand_url(@product.category.top_category, @product.category, @product.brand)
  -#- if @product.sub_category
  -#  %span.short_link
  -#    = link_to @product.sub_category.name, category_sub_category_with_sub_url(@product.category.top_category, @product.category, @product.sub_category)


  %span.short_link.no_arrows
    = @product.product_name.html_safe
.separator_content

.brand_description_wrapper.new_single_product{:itemscope => '', :item_type => "http://schema.org/Product"}
  .title_product
  .top_single_product_wrapper
    .left_block
      .product_description_name
        %h1= t('meta.single_product_seo_header', :product_name => @product.product_name, :category => @product.try(:category).try(:name), :brand => @product.try(:brand).try(:name))
      %ul.product_description_ul
        %li.pd_li_style
          .pd_li_label= t('product_description.category')
          .pd_li_labe2= @product.category.name
        - if @product.sub_category.try(:name)
          %li.pd_li_style
            .pd_li_label= t('product_description.sub_category')
            .pd_li_labe2= @product.sub_category.name
        %li.pd_li_style
          .pd_li_label= t('product_description.gender')
          .pd_li_labe2= @product.gender.name
        - if @style.is_shoes?
          %li.pd_li_style
            .pd_li_label= t('product_description.width')
            .pd_li_labe2= @style.stocks[0].width
        %li.pd_li_style
          .pd_li_label SKU #:
          .pd_li_labe2= @product.external_product_id
      .other-brand-items
        = link_to t('product_description.other_items'), brand_path(@product.try(:brand))
      - if @product.product.styles.size > 1
        .brows_lable
          .bl_style= t("product_description.other_colors")
          .bl_image
        %ul.colors.main_category
          - @product.product.styles.each do |style|
            - next if style == @style
            .image_div
              %a{:href => single_model_path(@product, style)}
                = image_tag style.swatch_url, :alt => @product.product_name, rel: 'nofollow'

    .mid_block
      .image_tab.tabable
        .brand_logo
          = image_tag @product.brand.logo_url
        .main_product_image
          - if @style.try(:not_zoomed_image_attachments).blank?
            = image_tag 'thumb/missing.png', :class => 'missing', :alt => @product.product_name, :title => "#{@product.product_name} - #{@product.category.name}"
          - else
            %a.inner_zoom{:href => @style.primary_image.image_url, :rel => @style.primary_image.zoom_image, :title => 'zoom' }
              = image_tag @style.primary_image.image_url, :class => 'img_file', :title => "#{@product.product_name.html_safe} - #{@product.category.name}", :alt => @product.product_name, :itemprop => "image", rel: 'nofollow'
            .other_images
              - @style.not_zoomed_image_attachments.each_with_index do |image_attachment, index|
                %a.previews{:href => image_attachment.image_url, :rel => image_attachment.zoom_image, :title => 'zoom'}
                  - if index < 6
                    = image_tag image_attachment.image_url, :class => 'previews_img_file', :title => "#{@product.product_name} - #{@product.category.name} - #{index}", :alt => "#{@product.product_name} - #{index}", rel: 'nofollow'

      .video_tab.tabable.invisible
        #flv_player

      .description_tab.tabable.invisible
        .single_product_description
          .item_model_description.goog-trans-section
            %span{ :itemprop => "description" }= @product.description.html_safe
            .goog-trans-control
          #google_sectional_element

    .right_block{:itemprop => "offers", :itemscope => '', :itemtype => "http://schema.org/Offer"}
      .pd_active_button.trigger_tab{ data: { to: 'image_tab' } }
        %span Изображение товара
      .pd_anactive_button.trigger_tab{ data: { to: 'description_tab' }, :href => "#" }
        %span Описание товара
      - if @product.video_url
        .pd_anactive_button.trigger_tab{ data: { to: 'video_tab' }, :href => "#"}
          %span Видео с товаром
      - if @product.product && !@style.hidden?
        .size
          = form_tag add_path(@product.product), :id => 'add_to_cart_form' do
            = t('product_description.size')
            = hidden_field_tag :style, @style.id
            = select_tag :stock_id, options_for_select(@style.stocks.map{|s| [s.size, s.id]})
      .pd_price
        .price Цена:
        %div
          %a.sum-a{:style => "font-size: 13px;"}
            %span{:itemprop => "price"}= number_to_currency(@style.original_price_extra(@exchange_rate, @markup, @fixed_markup), :unit => '')
        .price грн.
        - if @style.percent_off > 0
          .price= t('product_description.price_off')
          %div
            %a.sum-a= "#{@style.percent_off}%"
      .pd_price
        .price= t('product_description.discount_price') + " (#{t('currency')})"
        .pd_total_price{ :itemprop => "price" }= number_to_currency(@style.discount_price_extra(@exchange_rate, @markup, @fixed_markup), :unit => '')
        - if @product.product && !@style.hidden?
          .pd_presence_color
            .pd_presence_note= t('product_exists')
        - else
          .pd_presence_color_no
            .pd_presence_note= t('product_not_exists')
      .pd_price
      .free-delivery
        = t 'free_delivery_text_1'
        %br
        %br
        = t 'free_delivery_text_2'
        %br
        %br
        = t 'free_delivery_text_3'
        %br
        %br
        = t 'free_delivery_text_4'
        %br
        %br
        = t 'free_delivery_text_5'
      - if @product.product && !@style.hidden?
        .buy_button
          %a.button
          .button_left
          .button_mid.add_to_cart_link
            %a.button= link_to t('add_to_cart'), nil
          .button_right

    .size_grid= link_to t("size_grid"), '/assets/size_grid.png', :class => 'size_grid'

#comments
  .tips
    .tips_text
      = t('comments.header_tip')
  .filter_tips
    %a.arrow_down{:href => "#"}
    .filter_tips_text
      %a#comments_toggle{:href => "#"}
        = t('comments.tip_total')
        = "( #{@product.comments.size} )"
  .separator_content
  #comment_wrapper
    #comment_loader
    = render :partial => 'comment', :collection => @product.comments
    = form_tag new_comment_path, :id => 'new_comment_form' do
      = hidden_field_tag :item_model_id, @product.id
      #comment_text_area
        .text_area_bg
          .text_area_left_bg
          .comment_text_area_style
            = text_area_tag :comment_body
          .text_area_right_bg
      .footer_button_send
        %a.submit_comment.button{:href => "#"}
          .button_left
          .button_mid
            = t('submit')
          .button_right
.delimiter
.separator_content
.delimiter
.familiars_wrapper
  .hint= t 'familiar_products'
  .familiars
    = render partial: 'item_model', collection: @familiars, locals: { params: params }
    .delimiter

:javascript
  if($("#flv_player").length > 0) {
    jwplayer("flv_player").setup({
      flashplayer: "/player.swf",
      file: "#{@product.video_url}",
      height: 270,
      width: 420
    });
  }

  function googleSectionalElementInit() {
      new google.translate.SectionalElement({
          sectionalNodeClassName: 'goog-trans-section',
          controlNodeClassName: 'goog-trans-control',
          background: '#f4fa58'
      }, 'google_sectional_element');
  }
