%tr.shopping_card_content
  %td.shopping_card_content_image
    - if order_line.product.item_model.image_attachments.empty?
      %a{:href => "/#/single/#{order_line.product.item_model.id}"}
        .sc_clock_image{:style => "background: url('#{ImageAttachment.new.image.url(:thumb)}') no-repeat"}
    - else
      %a{:href => "/#/single/#{order_line.product.item_model.id}"}
        .sc_clock_image
          .sc_clock_image{:style => "background: url('#{order_line.product.item_model.image_attachments[0].image.url(:thumb)}') no-repeat"}
  %td.shopping_card_content_description
    .shopping_card_content_title_product
      %a.shopping_card_content_title_product-a{:href => "/#/single/#{order_line.product.item_model.id}"}
        = order_line.product.item_model.brand.name
        = order_line.product.item_model.model_unique_number
    .shopping_card_content_product_description 
      = order_line.product.item_model.full_description
  %td.shopping_card_content_price
    .price
      = order_line.quantity
  %td.shopping_card_content_price
    .sum-a
      = order_line.price
    .price грн.
  %td.shopping_card_content_total
    .sum-a
      = order_line.total
    .price грн.
