%tr
  %td
    = link_to "##{order.id.to_s.rjust(5, '0')}", administrator_orders_path(:order_id => order)
  %td
    = [order.city, order.address].join ', '
  %td
    = order.user.email
  %td
    = order.user.phone_number
  %td
    = t(order.status)
  %td
    = order.created_at.to_formatted_s(:long)
  %td
    = order.total
    = order.order_lines.first.currency
  %td
    = check_box_tag "order_ids[]", order.id, order.reviewed, :disabled => order.reviewed?
