%tr
  %td
    = order.id
  %td
    = [order.city, order.address].join ', '
  %td
    = order.user.email
  %td
    = order.user.phone_number
  %td
    = order.created_at
  %td
    = order.payment_type
  %td
    = order.delivery_type
  %td
    = order.total
    грн.
  %td
    = select_tag 'status', options_for_select(['submitted', 'paid', 'sent'], order.status)
