%div{:style => "margin-bottom: 100px; width: 400px; float: left;"}
  = form_tag administrator_set_brand_favorite_path do
    - @brand.each do |brand|
      %div
        = text_field_tag :brand_name, brand.name, :disabled => true
        = check_box_tag "favorites[]", brand.id, brand.favorite
    = submit_tag t("save")
%div{:style => "float: right; width: 350px;"}
  %div
    Выбранные бренды:
  - @brand_favorites.each_with_index do |brand, index|
    %div
      = "#{index+1}. #{brand.name}"
.delimiter

