%div{:style => "margin-bottom: 100px; width: 400px; float: left;"}
  = form_tag administrator_set_category_favorite_path do
    - @category.each do |category|
      %div
        = text_field_tag :category_name, category.name, :disabled => true
        = check_box_tag "favorites[]", category.id, category.favorite
    = submit_tag t("save")
%div{:style => "float: right; width: 350px;"}
  %div
    Выбранные категории:
  - @category_favorites.each_with_index do |category, index|
    %div
      = "#{index+1}. #{category.name}"
.delimiter

