.hint
  Первое поле - домен, к которому привязывается правило
  %br
  Второе - курс выбранной валюты к доллару
  %br
  Третье - имя выбранной валюты(отображается на сайте в корзине, личном кабинете, при выборе товара)
  %br
  Четвертое поле - процент наценки(возможно дробное число)
  %br
  %br
- @exchange_rates.each do |exchange_rate|
  - next if exchange_rate.domain.blank?
  - form_tag administrator_change_exchange_rate_path do
    = hidden_field_tag :id, exchange_rate.id
    .exchange_rates
      = text_field_tag :domain, exchange_rate.domain, :disabled => true
      = text_field_tag :value, exchange_rate.value
      = text_field_tag :currency, exchange_rate.currency
      = text_field_tag :markup, exchange_rate.markup
      = submit_tag t("submit")
