%h1
  Администраторская панель
%h2
  Следующие заказы были оформлены:
%table
  %tr
    %td
      = 'Номер заказа'
    %td
      = 'Адрес доставки'
    %td
      = 'E-mail заказчика'
    %td
      = 'Номер телефона'
    %td
      = 'Дата создания заказа'
    %td
      = 'Способ оплаты'
    %td
      = 'Способ доставки'
    %td
      = 'Сумма по заказу'
    %td
      = 'Статус'
  = render :partial => 'order', :collection => @orders
