= render :partial => 'shopping_cart_tip', :locals => { :item_count => @cart_line_count }
%table#shopping_card_block
  %tr.table_header
    %td.table_header_mane Товар
    %td.table_header_quantity Количество
    %td.table_header_price Цена
    %td.table_header_total Итого
  = render :partial => 'shopping_cart_line', :collection => @shopping_cart.shopping_cart_lines
  %tr.table_total
    %td.table_total_price
      .price
        = @currency
      .sum-a#cart_total
        %span
          = @shopping_cart.total
      .price Общая стоимость заказа:
  - if @shopping_cart.total > 0
    %tr.table_end_order
      %td.table_end_order_help_text Оформление Заказа
.delimiter
#custom_block
  = StaticPage.find_by_name("delivery_block").try(:text).try(:html_safe)
- if @shopping_cart.total > 0
  = form_tag payment_path, :id => 'prepayment_form' do
    .delimiter
    .tips
      .tips_text
        Адрес доставки
    .separator_content
    .shipping_adres
      #payment
        - if @address_validation_errors
          .lable_input
            = @address_validation_errors[0]
        .lable_input
          .lable
            Телефон:
            %span *
          .input_left_side
          .input_style
            = text_field_tag 'phone_number', current_user ? current_user.phone_number : ''
          .input_right_side
        .lable_input
          .lable
            Город:
            %span *
          .input_left_side
          .input_style
            = text_field_tag 'city', current_user ? current_user.city : ''
          .input_right_side
        .lable_input
          .lable
            Адрес:
            %span *
          .input_left_side
          .input_style
            = text_field_tag 'address', current_user ? current_user.address : ''
          .input_right_side
        .lable_input
          .lable
            Страна:
            %span *
          .input_left_side
          .input_style
            = text_field_tag 'country', current_user ? current_user.country : ''
          .input_right_side
    .delimiter
    .shipping_adres_order_button
      %a.button{:href => "#", :id => 'payment_button'}
        %span.button_left
        %span.button_mid
          = t('payment_button')
        %span.button_right
