= render :partial => 'shopping_cart_tip', :locals => { :item_count => @cart_line_count }
- content_for(:no_index){ 'true' }
%table#shopping_card_block
  %tr.table_header
    %td.table_header_mane Товар
    %td.table_header_quantity Количество
    %td.table_header_price Цена
    %td.table_header_total Итого
  = render :partial => 'shopping_cart_line', :collection => @shopping_cart.shopping_cart_lines
  %tr.table_total
    %td.table_total_price
      .price
        = @currency
      .sum-a#cart_total
        %span
          = @shopping_cart.total
      .price Общая стоимость заказа:
  - if @shopping_cart.total > 0
    %tr.table_end_order
      %td.table_end_order_help_text Оформление Заказа
.delimiter
#custom_block
  = StaticPage.find_by_name("delivery_block").try(:text).try(:html_safe)
- if @shopping_cart.total > 0
  = form_tag create_order_path, :id => 'prepayment_form' do
    .delimiter
    .tips
      .tips_text
        Введите свои данные
    .separator_content
    .shipping_adres
      #payment
        .error= @user_validation_errors.try(:messages).try(:values).try(:flatten).try(:first) if @user_validation_errors
        .lable_input
          .lable
            Имя:
            %span *
          .input_left_side
          .input_style
            = text_field_tag '[user][first_name]'
          .input_right_side

        .lable_input
          .lable
            Email:
            %span *
          .input_left_side
          .input_style
            = text_field_tag '[user][email]'
          .input_right_side

        .lable_input
          .lable
            Телефон:
            %span *
          .input_left_side
          .input_style
            = text_field_tag '[user][phone_number]'
          .input_right_side
        .delimiter
        .delivery_label_wrapper
          .delivery_label
            Доставка курьером прямо в руки 15грн.
          %div
          %div
            = select_tag :order_delivery, options_for_select(t('delivery_cities')), include_blank: true
          %div
    .delimiter
    .shipping_adres_order_button
      %a.button{:href => "#", :id => 'payment_button'}
        %span.button_left
        %span.button_mid
          = t('submit_order')
        %span.button_right
