.tips
  .tips_text Виды доставки
.separator_content
#static_deliveries_wrapper
  .delivery_hint_message_header
    = '"Нова Почта"'
  .delivery_hint_message.visible
    = t('detailed_nova_pochta')
  .delivery_hint_message_header
    = '"Ночной экспресс"'
  .delivery_hint_message.visible
    = t('detailed_night_express')
  .delivery_hint_message_header
    = '"Государственная Почтовая служба"'
  .delivery_hint_message.visible
    = t('detailed_postal_service')
  .delivery_hint_message_header
    = '"Интайм"'
  .delivery_hint_message.visible
    = t('detailed_intime')
  .delivery_hint_message_header
    = '"Автолюкс"'
  .delivery_hint_message.visible
    = t('detailed_autolux')
