- cache do
  = image_tag "error_404.png"
  .delimiter
  .categories_wrapper
    .categories_panel
      - blocks_showed = 0
      - %w(1 2 6 3 5 4).each do |top_level_category_id|
        - next if @categories[top_level_category_id.to_i].blank?
        - categories = @categories[top_level_category_id.to_i].sort_by{ |category| category.name }
        - if blocks_showed % 3 == 0
          .delimiter
        .category_block
          .category_header
            .category_name
              = link_to t(categories.first.top_category_name), category_url("#{top_level_category_id}-#{categories.first.top_category_name}")
            .category_count
          .category_content
            - categories.each do |category|
              - next if @countings[category.id].blank?
              %div
                .sub_category_name
                  = link_to category.name, category_sub_category_url("#{top_level_category_id}-#{categories.first.top_category_name}", category)
                .sub_category_count
                  = "(#{@countings[category.id].sum(&:value)})"
              .delimiter
        - blocks_showed += 1