= render 'brand_tip'
- if params[:category_id].blank? && params[:letter].blank?
  - @brands.each_with_index do |(letter, group), index|
    - if index % 3 == 0
      .delimiter
    .brand_block
      .brand_block_header
        = "#{letter.upcase}-#{letter.downcase}"
      .brand_block_content
        - group.each do |brand|
          %div
            = link_to brand.name, brand_path(brand)
- else
  - @brands.in_groups(6).each_with_index do |group, index|
    - if index % 3 == 0
      .delimiter
    .brand_block
      .brand_block_header
      .brand_block_content
        - group.each do |brand|
          %div
            - if brand
              = link_to brand.name, brand_path(brand)