- content_for :meta_title, t('meta.single_brand_title', :brand => @brand.name)
- content_for :meta_keywords, t('meta.single_brand_keywords', :brand => @brand.name)
- content_for :meta_description, t('meta.single_brand_description', :brand => @brand.name)
- content_for :seo_header, t('meta.single_brand_seo_header', :brand => @brand.name)
= bread_crumbs([link_to(@brand.name, brand_path(@brand))])
.separator_header

.brows_category
  .brows_lable
    .bl_style= @brand.name.html_safe
    .bl_image
  - @category_tree[:root].each do |category_name, root_child|
    - top_cat_name = "#{Category::TOP_CATEGORIES[root_child[:category].top_category_name]}-#{root_child[:category].top_category_name}"
    %ul.main_category
      %li.mc_lable
        - if top_cat_name.strip == '-'
          = category_name
        - else
          = link_to category_name, category_sub_category_with_brand_path(top_cat_name, root_child[:category], @brand)
      - root_child[:tree].delete_if{ |child| child[:count].to_i <= 0 }.each do |child|
        %li.mcl_link
          - if top_cat_name.strip == '-'
            = child[:name]
          - else
            = link_to child[:name], category_sub_category_with_brand_and_sub_path(top_cat_name, root_child[:category], @brand, child[:sub_category] )
.advertisement_block
  .ab_main_brands_logo
    = image_tag @brand.logo_url, :alt => @brand.name, :title => @brand.name, rel: 'nofollow'
  .brands_image_container
    .ab_main_brands_banner
      = image_tag @brand.image_attachments[0].try(:image_url), rel: 'nofollow', :alt => @brand.name, :title => @brand.name
  .brands_description
    = @brand.description.try(:html_safe)

= raw(@rewrite_meta_raw_text) if @rewrite_meta_raw_text.present?