= set_meta(@categories.first.top_category_name)
.brows_category
  .brows_lable
    .bl_style= t(@categories.first.top_category_name)
    .bl_image
  %ul.main_category
    - @categories.each do |category|
      %li.mcl_link
        = link_to category.name, category_sub_category_url("#{category.top_category}-#{category.top_category_name}", category)
.advertisement_block
  .ab_main_banner
    #slides
      .slides_container
        - @banners.each do |banner|
          %div
            %a{:href => banner.url}
              = image_tag banner.image_url

