= set_meta(@categories.first.top_category_name)
- left_banner = @banners.where(:side => "left").first
- right_banner = @banners.where(:side => "right").first
= bread_crumbs([link_to(t(@categories.first.top_category_name), request.fullpath)])
.separator_header

.brows_category
  .brows_lable
    .bl_style= t(@categories.first.top_category_name)
    .bl_image
  %ul.main_category
    - @categories.each do |category|
      %li.mcl_link
        = link_to category.name, category_sub_category_url("#{category.top_category}-#{category.top_category_name}", category)
.advertisement_block
  .ab_main_banner
    #slides
      .slides_container
        - @banners.where(:side => nil).each do |banner|
          %div
            %a{:href => banner.url}
              = image_tag banner.image_url

  .adsb_content
    .adsbc_left
      = image_tag 'kkbngnwegjknjn.png'
    .adsbc_middle
      = image_tag 'jeififwejifweijw.png'
    .adsbc_right
      = image_tag 'vniwjeiwuef.png'