= render 'category_tip'
= set_meta(@categories.first.top_category_name)
- cache do
  .delimiter
  .categories_wrapper
    - cache do
      .banners
        #slides
          .slides_container
            - @banners.each do |banner|
              %div
                %a{:href => banner.url}
                  = image_tag banner.image_url

      .categories_panel
        .delimiter
        .category_block
          .category_header
            .category_name
              = link_to t(@categories.first.top_category_name), category_path(params[:id])
            .category_count
          .category_content
            - @categories.each do |category|
              %div
                .sub_category_name
                  = link_to "#{category.name}", "/advanced_search#cat=#{category.id}"
                .sub_category_count
                  = "(#{@countings[category.id].sum(&:value)})"
              .delimiter