.selection_wrapper
  .pop_up_style_choice_brand
    .functional_container_brands
      .functional_block_brands
        .functional_block_brands_header
          .functional_block_brands_header_left_top
          .functional_block_brands_header_right_top
        .functional_block_brands_body
          .brand_watch_block
            %a.brand_watch{:href => "/#cat//#{params[:category]}/#{params[:sub_category]}/#{params[:gender]}"}
              %span.brand_name ВСЕ БРЕНДЫ
              %span.brand_quantity
                = @brand_total_counts
          .delimiter
          - @brand_counts.each_with_index do |brand, index|
            %div{:class => "brand_watch_block#{index % 2 == 0 ? '1' : ''}", :id => "brand_id_#{brand.brand_id}"}
              %a.brand_watch{:href => "/advanced_search/#b=#{brand.brand_id}"}
                %span.brand_name
                  = brand.brand_name.upcase
                %span.brand_quantity
                  = brand.value
            .delimiter
          %div{:class => "brand_watch_block#{@brand_counts.size % 2 == 0 ? '1' : ''}"}
            %a.brand_watch{:href => "/brands"}
              %span.brand_name
                = t('brand_list')
              %span.brand_quantity
                \-
          .delimiter
        .functional_block_brands_footer
          .functional_block_brands_footer_left_bottom
          .functional_block_brands_footer_right_bottom
    %div{:style => 'clear: both'}
