.selection_wrapper
  .pop_up_style_choice_gender
    .functional_container_brands
      .functional_block_brands
        .functional_block_brands_header
          .functional_block_brands_header_left_top
          .functional_block_brands_header_right_top
        .functional_block_brands_body
          .brand_watch_block
            %a.brand_watch{:href => "/#cat/#{params[:brand]}/#{params[:category]}/#{params[:sub_category]}/"}
              %span.brand_name ВСЕ ТИПЫ
              %span.brand_quantity
                = @gender_total_counts
          .delimiter
          - @gender_counts.each_with_index do |gender, index|
            %div{:class => "brand_watch_block#{index % 2 == 0 ? '1' : ''}"}
              %a.brand_changable.brand_watch{:href => "/#cat/#{params[:brand]}/#{params[:category]}/#{params[:sub_category]}/#{gender['id']}"}
                %span.brand_name
                  = gender['name'].upcase
                %span.brand_quantity 
                  = gender['item_count']
            .delimiter
        .functional_block_brands_footer
          .functional_block_brands_footer_left_bottom
          .functional_block_brands_footer_right_bottom
        .delimiter
    %div{:style => 'clear: both'}
