!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Администраторская панель
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'admin'
    = csrf_meta_tag
  %body.admin
    .content_wrapper
      - if session[:admin_loginned]
        .admin_navigation_buttons
          \|
          = link_to "Заказы", administrator_orders_path
          \|
          = link_to "Описание страниц", administrator_static_pages_path
          \|
          = link_to "Домены, курсы валют и наценки", administrator_exchange_rates_path
          \|
          = link_to "Названия категорий", administrator_category_translates_path
          \|
          = link_to "Описания брендов", administrator_brand_translates_path
          \|
          = link_to "Менеджер категорий", administrator_category_mapping_path
          \|
        .admin_navigation_buttons
          \|
          = link_to "Бренды в выпадающем меню", administrator_brand_favorites_path
          \|
          = link_to "Категории в выпадающем меню", administrator_category_favorites_path
          \|
          = link_to "Подкатегории в выпадающем меню", administrator_sub_category_favorites_path
          \|
          = link_to "Отзывы", administrator_reviews_path
          \|
          = link_to "6pm товар", administrator_six_pm_path
          \|
      %h1
        Администраторская панель
      = yield
