!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => 'description', :content => content_for?(:meta_description) ? yield(:meta_description) : t('meta_description')}
    %meta{:name => 'keywords', :content => content_for?(:meta_keywords) ? yield(:meta_keywords) : t('meta_keywords')}
    %meta{:name => 'robots', :content => 'all'}
    %meta{:name => 'language', :content => 'ru'}
    %meta{:name => 'yandex-verification', :content => '6b669eb5a94238c9'}
    - if content_for?(:canonical_url)
      %link{ :rel => "canonical", :href => yield(:canonical_url) }
    - if content_for?(:no_index)
      %meta{ :name => "robots", :content => "noindex, follow" }
    %title= content_for?(:meta_title) ? yield(:meta_title) : t('meta_title')
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = render :partial => '/layouts/partials/google_analytics'
    = render :partial => '/layouts/partials/yandex_analytics'
  %body{:itemscope => '', :itemtype => 'http://schema.org/WebPage'}
    %h1.seo_header.invisible= content_for?(:seo_header) ? yield(:seo_header) : t('default_seo_header')
    - if flash[:message_type]
      = render :partial => "/flash/#{flash[:message_type]}"
    #loader
    #top_line
      #top_line_wraper
        #color
          %a.color_pink
          %a.color_orange
          %a.color_green
          %a.color_blue
    / Header
    #conteiner_wraper
      #selection_top_wrapper
      - if !current_user
        = render :partial => '/layouts/partials/registration_form'
        = render :partial => '/layouts/partials/login_form'
      #content_wraper_header
        #header
          %a#logo{:href => "/"}
          #menu
            = link_to 'О нас', about_us_url, :class => 'link_menu'
            = link_to 'Отзывы', reviews_url, :class => 'link_menu'
            = link_to 'Оплата', payments_url, :class => 'link_menu'
            = link_to 'Доставка', deliveries_url, :class => 'link_menu'
            %b
              = link_to 'Сервис покупок в зарубежных интернет магазинах', "http://mydostavka.com/", :class => 'link_menu', :target => "_blank", :rel => 'nofollow'
            = link_to 'Контакты', contacts_url, :class => 'link_menu'
            - if !current_user
              %a.login_button.button{:href => "#"}
                .button_left
                .button_mid Войти
                .button_right
            - else
              %a.button{:href => destroy_user_session_path}
                .button_left
                .button_mid Выйти
                .button_right
          .separator_header
          .gray_area_conteiner_header
            .gray_area_content_header
              %span
                = link_to "Главная", root_path
              - if current_user
                = link_to current_user.full_name, user_path(current_user)
              - else
                = link_to 'Зарегистрироваться?', new_user_registration_path, :id => 'register_link'
              #shopping_cart
                %a.shopping_cart_icon{:href => checkout_path}
                %p.text1 В корзине товаров:
                = link_to @cart_line_count, checkout_path, :class => 'text1_price_quantity'
                %p.text1,   на сумму
                = link_to @shopping_cart.total, checkout_path, :class => 'text1_price_quantity'
                %p.text1
                  = @currency
          .separator_header
        #navigation
          .navigation_buttons
            %a.button{:href => sitemaps_path}
              .button_left
              .button_mid Посмотреть все категории
              .button_right
          #navigation_search
            = form_tag search_path, :method => 'post', :id => 'search_form', :remote => true do
              %a#search_button.button{:href => "#"}
                .button_left.submit_search
                .button_mid.submit_search Найти
                .button_right.submit_search
              .input_bg
                .input_left_bg
                = text_field_tag 'search_query', '', :class => 'input_style'
                .input_right_bg
        %div{:style => 'clear: both;'}
        #brands
          %span.lable_brands= t('browse_brands_by_letter')
          %span.brands_word
            - ('A'..'Z').to_a.each do |letter|
              = link_to letter, letter_brands_path(letter)
              = "|" unless letter == 'Z'
        %div{:style => 'clear: both;'}
        #catalog_button
          - hash_map = { "1-odezhda" => "Одежда", "2-obuv" => "Обувь", "6-sumki" => "Сумки", "3-aksessuari" => "Аксессуары", "5-ochki" => "Очки", "4-chasi" => "Часы"}
          - hash_map.each do |name, translation|
            - addition = name == params[:id] ? "catalog_button_style_active" : ''
            = link_to translation, category_url(name), :class => "catalog_button_style #{addition}"
        .separator_header
      #content_wraper
        #ajax_content
          = yield
        .delimiter
      %h1.seo_header= content_for?(:seo_header) ? yield(:seo_header) : t('default_seo_header')
      .delimiter
    .delimiter
    / Footer
    #footer
      #footer_top_line
      #footer_conteiner_wraper
        #footer_content_wraper
          .footer_blok_content
            %p.title_text
              = link_to "Карта сайта", sitemaps_path
            %p.footer_help_text Знакомство с магазином
            .footer_separator
            .sitemap_link
              = link_to 'Главная', root_path, :class => 'link_menu'
              = link_to 'Контакты', contacts_path, :class => 'link_menu'
            .sitemap_link
              = link_to 'Оплата', payments_path, :class => 'link_menu'
              = link_to 'Доставка', deliveries_path, :class => 'link_menu'
            .sitemap_link{:style => "width: 100px;"}
              = link_to 'Отзывы', reviews_path, :class => 'link_menu'
              = link_to 'О нас', about_us_path, :class => 'link_menu'
            .footer_blok_content{ :itemscope => '', :itemtype => "http://schema.org/Person" }
              %p.title_text Горячая линия
              %p.footer_help_text По этим контактам Вы можете связатся с нами
              .footer_separator
              .footer_label_input
                .footer_labe2
                  %p.text1 Украина:
                  %br/
                  %p.text1 Молдова:
                  %br/
                  %p.text1 Казахстан:
                .footer_labe3
                  %p.text1
                    %b
                      %span{ :itemprop => "telephone"}= "+38(098)023-93-07"
                  %br/
                  %p.text1
                    %b
                      %span{ :itemprop => "telephone"}= "+37 360-690-698"
                  %br/
                  %p.text1
                    %b
                      %span{ :itemprop => "telephone"}= "+7172 777-17-07"
                .footer_labe2
                  %p.text1 Россия:
                  %br/
                  %p.text1 США:
                .footer_labe3
                  %p.text1
                    %b
                      %span{ :itemprop => "telephone"}= "+7 929 777-17-07"
                  %br/
                  %p.text1
                    %b
                      %span{ :itemprop => "telephone"}= "+1 55 122-699-21"
                .email_skype_style
                  .footer_labe2
                    %p.text1 E-mail:
                  .footer_labe4
                    %a.text1{:href => "mailto:shop.mydostavka@gmail.com", :itemprop => "email" }
                      %b shop.mydostavka@gmail.com
                  .footer_labe2
                    %p.text1 Skype:
                  .footer_labe4
                    %a.text1{:href => "skype:udg2010?call"}
                      %b udg2010
                    %span С 12:00 до 24:00
          .footer_h_sep
          .footer_blok_content
            = form_for Review.new do |f|
              %p.title_text Обратная связь
              %p.footer_help_text Здесь вы можете оставить отзыв или отправить сообщение менеджеру
              .footer_separator
              .footer_label_input
                .footer_label
                  %p.text1 Ваше имя:
                #footer_input
                  .input_bg
                    .input_left_bg
                    = f.text_field :name, :class => "footer_input_style", :data => { :error_message => t("review_validation_errors.name") }
                    .input_right_bg
              .footer_label_input
                .footer_label
                  %p.text1 Ваш e-mail:
                #footer_input
                  .input_bg
                    .input_left_bg
                    = f.text_field :email, :class => "footer_input_style", :data => { :error_message => t("review_validation_errors.email") }
                    .input_right_bg
              .footer_label_input1
                .footer_label
                  %p.text1 Сообщение:
                #footer_text_area
                  .text_area_bg
                    .text_area_left_bg
                    .text_area_style
                      = f.text_area :body, :data => { :error_message => t("review_validation_errors.body") }
                    .text_area_right_bg
              .footer_button_send
                %a.button{:href => "#"}
                  .button_left
                  .button_mid Отправить
                  .button_right
                  .delimiter
              .delimiter
        .footer_separator1
        #footer_end_wraper
          .coperait
            %p.link_menu © 2011 MyDostavka.com
          %a{:href => "http://designcraft.com.ua", :rel => 'nofollow'}
            %img#logo_dc{:src => "/assets/designcraft_logo.png"}/